[project]
	description = Repository for the climatology study over the Houston area 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Bobby Jackson (rcjackson)
[access "refs/for/refs/*"]
	read = group user/Bobby Jackson (rcjackson)
	push = group user/Bobby Jackson (rcjackson)
	label-Code-Review = -2..+2 group user/Bobby Jackson (rcjackson)
	label-Verified = -1..+1 group user/Bobby Jackson (rcjackson)
	rebase = group user/Bobby Jackson (rcjackson)
	removeReviewer = group user/Bobby Jackson (rcjackson)
	submit = group user/Bobby Jackson (rcjackson)
[access "refs/heads/*"]
	read = group user/Bobby Jackson (rcjackson)
	create = group user/Bobby Jackson (rcjackson)
	push = +force group user/Bobby Jackson (rcjackson)
	pushMerge = group user/Bobby Jackson (rcjackson)
[access "refs/tags/*"]
	push = group user/Bobby Jackson (rcjackson)
	push = +force group user/Bobby Jackson (rcjackson)
